{
  "plugins": [
    ["transform-es2015-modules-commonjs", {
      "allowTopLevelThis": false,
      "strict": false,
      "loose": true
    }], 
    "add-module-exports"
  ],
  "presets": ["react", "es2015", "stage-0"]
}