<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sally Fisher's Portfolio</title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.mobile) { %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
     <% } %>
     <!-- Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600,300" type="text/css">
  </head>
  <body>
    <div id="sally-fish-app">
      <div id="app-content"></div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
